@charset "UTF-8";

.big{
    width: 1540px;
    height: 780px;
}

#faceTable{
    /*display: none;*/
    width: 315px;
    height: 280px;
    border-width: 2px;
    border-style: solid;
    float: left;
    position: relative;
    display: none;
}

.face{
    font-size: 20px;
}

#textInput{
    resize: none;
    width: 600px;
    height: 300px;
}

.btnInput{
    width: 117px;
    height: 30px;
    font-size: 20px;
}