<!DOCTYPE html>

<!--汉江师范学院 数计学院 吴乐创建于2022/12/26-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
<!--下面这个路径适用与服务器转发网页，直接打开此网页的话css会404，通过服务器转发进入此网页的话则css会生效-->
    <link rel="stylesheet" type="text/css" href="/css/ChatRoom.css">
<!--准备两个路径，方便开发-->
    <link rel="stylesheet" type="text/css" href="../static/css/ChatRoom.css">

    <link rel="stylesheet" type="text/css" href="/css/Message.css">
    <link rel="stylesheet" type="text/css" href="../static/css/Message.css">

    <link rel="stylesheet" type="text/css" href="/css/FriendList.css">
    <link rel="stylesheet" type="text/css" href="../static/css/FriendList.css">

    <link rel="stylesheet" type="text/css" href="/css/SystemMes.css">
    <link rel="stylesheet" type="text/css" href="../static/css/SystemMes.css">

    <script src="../static/js/jquery.js"></script>
    <script src="/js/jquery.js"></script>

    <script src="/js/chatRoom.js"></script>
    <script src="../static/js/chatRoom.js"></script>

</head>

<body>

<div id="big">
    <!--顶部区，显示本人名字，对方名字，在线情况-->
    <div id="room_up">
        <table>
            <tr>
                <td><div id="userId"></div></td>
                <td><div id="userName"></div></td>
                <td><div id="isOnLine"></div></td>
                <td><div id="chatObjectName"></div></td>
                <td><div id="chatObjectId"></div></td>
            </tr>
        </table>
    </div>

    <!--左边显示好友列表，中间为聊天区，包括消息区和发送区，右边为系统消息-->
    <div id="room_mid">
        <!--好友列表-->
        <div id="friendListBlock">
            <table id="friendList">
                <tr><th><div style="font-size:20px;margin-left: 125px;width:80px;border-bottom-width: 2px;border-bottom-color: black;border-bottom-style: solid">好友列表</div></th></tr>
                <tr><td class="friendCol">&nbsp;</td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
                <tr><td  class="friendCol"><div class="friend" >吴乐(123456)</div></td></tr>
                <tr><td class="friendCol"><div class="friend" >张三(456789)</div></td></tr>
            </table>
        </div>

        <!--聊天区-->
        <div id="room_chat">
            <!--消息区-->
            <div id="showMessageBlock">
                <table id="mesTable">
                    <tr>
                        <!--消息包括时间、发送者名字和ID、消息内容，其中名字、Id并排在上面，Id用括号括起来
                        ，消息内容在中间，时间在下面的右边。-->
                        <!--聊天区背景用浅色，不是白色。-->
                        <!--本人消息在右边，其他人消息在左边，本人消息用蓝色，别人消息用白色-->
                        <td class="mesCol">
                            <div class="leftMesDiv">张三(456789) 2023/1/29 12:21:21</div>
                            <div class="leftMesBubbles">
                                <div class="leftMes"></div>
                                <span>你好，世界</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <div class="rightMesBubbles">
                                <div class="rightMes"></div>
                                <span>你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <div class="rightMesBubbles">
                                <div class="rightMes"></div>
                                <span>你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <div class="rightMesBubbles">
                                <div class="rightMes"></div>
                                <span>你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <div class="rightMesBubbles">
                                <div class="rightMes"></div>
                                <span>你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <div class="rightMesBubbles">
                                <div class="rightMes"></div>
                                <span>你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界你好，世界</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="mesCol">
                            <div class="leftMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <img src="../static/img/upload/IMG_20220908_213006.jpg" class="leftImg" alt="1">
                        </td>
                    </tr>

                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <img src="../static/img/upload/IMG_20220908_213006.jpg" class="rightImg" alt="1">
                        </td>
                    </tr>

                    <tr>
                        <td class="mesCol">
                            <div class="rightMesDiv">吴乐(123456) 2023/1/29 13:21:21</div>
                            <div class="rightMesBubbles">
                                <div class="rightMes"></div>
                                <span>哈哈哈哈&#128512;&#128512;&#128512;&#128512;&#128512;&#128512;</span>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>

            <!--发送区-->
            <div id="sendBlock">

                <div id="editBlock">
                    <!--输入框-->
                    <label>
                        <textarea id="textInput" placeholder="在此输入信息" autofocus></textarea>
                    </label>
                </div>

<!--                按键区-->
                <div id="btnBlock">

                    <button id="sendImgBtn" class="btnInput" onclick="sendImg()">选图</button>
                    <form enctype="multipart/form-data" method="post" action="http://localhost/message/uploadImg">
                        <input type="file" id="sendImg" accept="image/*" hidden="hidden">
                        <input type="submit" class="btnInput" value="上传"/>
                    </form>

                    <input type="button" id="reset" class="btnInput" value="清空">
                    <input type="button" id="send" class="btnInput" value="发送">
                    <div>&nbsp;</div>
                </div>


            </div>

        </div>

        <!--系统消息和表情区-->
        <div id="room_mid_right">
            <!--系统消息区-->
            <div id="system_mes_block">
                <table id="system_mes_table">
                    <tr><th><div style="font-size:20px;margin-left: 125px;width:80px;height:30px;border-bottom-width: 2px;border-bottom-color: black;border-bottom-style: solid">系统消息</div></th></tr>
                    <!--使用函数将消息显示-->
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>
                    <tr>
                        <!--系统消息包括时间和消息内容-->
                        <td class="systemCol">
                            <span>2023/1/29 12:30:20</span>
                            <span>吴乐上线了</span>
                        </td>
                    </tr>

                </table>
            </div>


            <!--表情区-->
            <div id="faceBlock">
                <div id="faceTable">
                    <table>
                        <tr>
                            <td class="face">&#128512;</td>
                            <td class="face">&#128513;</td>
                            <td class="face">&#128514;</td>
                            <td class="face">&#128515;</td>
                            <td class="face">&#128516;</td>
                            <td class="face">&#128517;</td>
                            <td class="face">&#128518;</td>
                            <td class="face">&#128519;</td>
                            <td class="face">&#128520;</td>
                            <td class="face">&#128521;</td>
                        </tr>
                        <tr>
                            <td class="face">&#128522;</td>
                            <td class="face">&#128523;</td>
                            <td class="face">&#128524;</td>
                            <td class="face">&#128525;</td>
                            <td class="face">&#128526;</td>
                            <td class="face">&#128527;</td>
                            <td class="face">&#128528;</td>
                            <td class="face">&#128529;</td>
                            <td class="face">&#128530;</td>
                            <td class="face">&#128531;</td>
                        </tr>
                        <tr>
                            <td class="face">&#128532;</td>
                            <td class="face">&#128533;</td>
                            <td class="face">&#128534;</td>
                            <td class="face">&#128535;</td>
                            <td class="face">&#128536;</td>
                            <td class="face">&#128537;</td>
                            <td class="face">&#128538;</td>
                            <td class="face">&#128539;</td>
                            <td class="face">&#128540;</td>
                            <td class="face">&#128541;</td>
                        </tr>
                        <tr>
                            <td class="face">&#128542;</td>
                            <td class="face">&#128543;</td>
                            <td class="face">&#128544;</td>
                            <td class="face">&#128545;</td>
                            <td class="face">&#128546;</td>
                            <td class="face">&#128547;</td>
                            <td class="face">&#128548;</td>
                            <td class="face">&#128549;</td>
                            <td class="face">&#128550;</td>
                            <td class="face">&#128551;</td>
                        </tr>
                        <tr>
                            <td class="face">&#128552;</td>
                            <td class="face">&#128553;</td>
                            <td class="face">&#128554;</td>
                            <td class="face">&#128555;</td>
                            <td class="face">&#128556;</td>
                            <td class="face">&#128557;</td>
                            <td class="face">&#128558;</td>
                            <td class="face">&#128559;</td>
                            <td class="face">&#128560;</td>
                            <td class="face">&#128561;</td>
                        </tr>

                        <tr>
                            <td class="face">&#128562;</td>
                            <td class="face">&#128563;</td>
                            <td class="face">&#128564;</td>
                            <td class="face">&#128565;</td>
                            <td class="face">&#128567;</td>
                            <td class="face">&#128568;</td>
                            <td class="face">&#128569;</td>
                            <td class="face">&#128570;</td>
                            <td class="face">&#128571;</td>
                            <td class="face">&#128572;</td>
                        </tr>
                        <tr>
                            <td class="face">&#128573;</td>
                            <td class="face">&#128574;</td>
                            <td class="face">&#128575;</td>
                            <td class="face">&#128576;</td>
                            <td class="face">&#128577;</td>
                            <td class="face">&#128578;</td>
                            <td class="face">&#128579;</td>
                            <td class="face">&#128580;</td>
                            <td class="face">&#129296;</td>
                            <td class="face">&#129297;</td>
                        </tr>

                        <tr>
                            <td class="face">&#129298;</td>
                            <td class="face">&#129299;</td>
                            <td class="face">&#129300;</td>
                            <td class="face">&#129301;</td>
                            <td class="face">&#129302;</td>
                            <td class="face">&#129303;</td>
                            <td class="face">&#129304;</td>
                            <td class="face">&#129305;</td>
                            <td class="face">&#129306;</td>
                            <td class="face">&#129307;</td>
                        </tr>

                        <tr>
                            <td class="face">&#129308;</td>
                            <td class="face">&#129309;</td>
                            <td class="face">&#129310;</td>
                            <td class="face">&#129311;</td>
                            <td class="face">&#129312;</td>
                            <td class="face">&#129313;</td>
                            <td class="face">&#129314;</td>
                            <td class="face">&#129315;</td>
                            <td class="face">&#129316;</td>
                            <td class="face">&#129317;</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const userId = document.getElementById("userId");
    const userName = document.getElementById("userName");

    const url = "http://localhost/linkRoom";
    const websocket = new WebSocket(url);

    websocket.onopen = function (){

    }

    websocket.onmessage = function (){

    }

    websocket.onclose = function (){

    }

    websocket.onerror = function (){

    }

</script>
</body>

</html>
