<!DOCTYPE html>

<!--汉江师范学院 数计学院 吴乐创建于2022/12/26-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" type="text/css" href="../static/css/ChatRoom.css">
</head>

<body>

<div class="big">
    <!--顶部区，显示本人名字，对方名字，在线情况-->
    <div>
        <table>
            <tr>
                <td><div th:text="${userName}">uuuuu</div></td>
                <td><div th:text="">uuuuu</div></td>
            </tr>
        </table>
    </div>

    <!--左边显示好友列表，中间为聊天区，包括消息区和发送区，右边为系统消息-->
    <div>
        <!--好友列表-->
        <div>
            <table>
                <tr th:each="">
                    <td>
                        <!--姓名-->
                        <div></div>
                        <!--Id-->
                        <div></div>
                    </td>
                </tr>
            </table>
        </div>

        <!--聊天区-->
        <div>
            <!--消息区-->
            <div>
                <table>
                    <tr>
                        <!--消息包括时间、发送者名字和ID、消息内容，其中名字、Id并排在上面，Id用括号括起来
                        ，消息内容在中间，时间在下面的右边。-->
                        <!--聊天区背景用浅色，不是白色。-->
                        <!--本人消息在右边，其他人消息在左边，本人消息用蓝色，别人消息用白色-->
                        <td></td>
                    </tr>
                </table>
            </div>
            <!--发送区-->
            <div>
                <div>
                    <!--输入框-->

                    <div>


                        <div id="inputDiv">
                            <label>

                                <textarea id="textInput" autofocus></textarea>
                            </label>
                        </div>

                        <div id="faceTable">
                            <table>
                                <tr>
                                    <td class="face">&#128512;</td>
                                    <td class="face">&#128513;</td>
                                    <td class="face">&#128514;</td>
                                    <td class="face">&#128515;</td>
                                    <td class="face">&#128516;</td>
                                    <td class="face">&#128517;</td>
                                    <td class="face">&#128518;</td>
                                    <td class="face">&#128519;</td>
                                    <td class="face">&#128520;</td>
                                    <td class="face">&#128521;</td>
                                </tr>
                                <tr>
                                    <td class="face">&#128522;</td>
                                    <td class="face">&#128523;</td>
                                    <td class="face">&#128524;</td>
                                    <td class="face">&#128525;</td>
                                    <td class="face">&#128526;</td>
                                    <td class="face">&#128527;</td>
                                    <td class="face">&#128528;</td>
                                    <td class="face">&#128529;</td>
                                    <td class="face">&#128530;</td>
                                    <td class="face">&#128531;</td>
                                </tr>
                                <tr>
                                    <td class="face">&#128532;</td>
                                    <td class="face">&#128533;</td>
                                    <td class="face">&#128534;</td>
                                    <td class="face">&#128535;</td>
                                    <td class="face">&#128536;</td>
                                    <td class="face">&#128537;</td>
                                    <td class="face">&#128538;</td>
                                    <td class="face">&#128539;</td>
                                    <td class="face">&#128540;</td>
                                    <td class="face">&#128541;</td>
                                </tr>
                                <tr>
                                    <td class="face">&#128542;</td>
                                    <td class="face">&#128543;</td>
                                    <td class="face">&#128544;</td>
                                    <td class="face">&#128545;</td>
                                    <td class="face">&#128546;</td>
                                    <td class="face">&#128547;</td>
                                    <td class="face">&#128548;</td>
                                    <td class="face">&#128549;</td>
                                    <td class="face">&#128550;</td>
                                    <td class="face">&#128551;</td>
                                </tr>
                                <tr>
                                    <td class="face">&#128552;</td>
                                    <td class="face">&#128553;</td>
                                    <td class="face">&#128554;</td>
                                    <td class="face">&#128555;</td>
                                    <td class="face">&#128556;</td>
                                    <td class="face">&#128557;</td>
                                    <td class="face">&#128558;</td>
                                    <td class="face">&#128559;</td>
                                    <td class="face">&#128560;</td>
                                    <td class="face">&#128561;</td>
                                </tr>

                                <tr>
                                    <td class="face">&#128562;</td>
                                    <td class="face">&#128563;</td>
                                    <td class="face">&#128564;</td>
                                    <td class="face">&#128565;</td>
                                    <td class="face">&#128567;</td>
                                    <td class="face">&#128568;</td>
                                    <td class="face">&#128569;</td>
                                    <td class="face">&#128570;</td>
                                    <td class="face">&#128571;</td>
                                    <td class="face">&#128572;</td>
                                </tr>
                                <tr>
                                    <td class="face">&#128573;</td>
                                    <td class="face">&#128574;</td>
                                    <td class="face">&#128575;</td>
                                    <td class="face">&#128576;</td>
                                    <td class="face">&#128577;</td>
                                    <td class="face">&#128578;</td>
                                    <td class="face">&#128579;</td>
                                    <td class="face">&#128580;</td>
                                    <td class="face">&#129296;</td>
                                    <td class="face">&#129297;</td>
                                </tr>

                                <tr>
                                    <td class="face">&#129298;</td>
                                    <td class="face">&#129299;</td>
                                    <td class="face">&#129300;</td>
                                    <td class="face">&#129301;</td>
                                    <td class="face">&#129302;</td>
                                    <td class="face">&#129303;</td>
                                    <td class="face">&#129304;</td>
                                    <td class="face">&#129305;</td>
                                    <td class="face">&#129306;</td>
                                    <td class="face">&#129307;</td>
                                </tr>

                                <tr>
                                    <td class="face">&#129308;</td>
                                    <td class="face">&#129309;</td>
                                    <td class="face">&#129310;</td>
                                    <td class="face">&#129311;</td>
                                    <td class="face">&#129312;</td>
                                    <td class="face">&#129313;</td>
                                    <td class="face">&#129314;</td>
                                    <td class="face">&#129315;</td>
                                    <td class="face">&#129316;</td>
                                    <td class="face">&#129317;</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div style="margin-left: 351px;">
                        <!--表情-->
                        <input type="button" id="faceSend" value="表情" class="btnInput" onclick="showFace()">

                        <button id="sendImgBtn" class="btnInput" onclick="sendImg()">图片</button>
                        <input type="file" id="sendImg" accept="image/*" value="图片" hidden="hidden">

                        <input type="button" id="reset" class="btnInput" value="清空">
                        <input type="button" id="send" class="btnInput" value="发送">
                    </div>

                </div>
            </div>
        </div>

        <!--系统消息区-->
        <div>
            <table>
                <!--使用函数将消息显示-->
                <tr>
                    <!--系统消息包括时间和消息内容-->
                    <td>
                        <div></div>
                        <div></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script>
    //发送图片

    //展示表情
    function showFace()
    {
        const faceTable = document.getElementById('faceTable');

        if(faceTable.style.display === 'none')
        {
            faceTable.style.display = 'block';
        }else {
            faceTable.style.display = 'none';
        }
    }

    //选择图片
    function sendImg(){
        const sendImg = document.getElementById("sendImg");

        sendImg.click();
    }

</script>


<!--
<script src="/static/js/jquery.js"></script>
<script>
    var toName;
    var userName;

    function goChat(name){
        toName = name;
        //展示聊天对话框
        $("#chatArea").css("display","inline");
        //显示聊天对象
        $("#chatMes").html("<h3>正在和 "+toName+" 聊天</h3>");
    }

    $(function (){
        $.ajax({
            url:"http://localhost/getUserData/getUserNameById",
            success:function (res){
                userName = res;
                $("#userName").html("用户"+userName + "<span style='float:right;color:green'>在线</span>");
            },
            async:false
        })

        //创建websocket对象
        const ws = new WebSocket("ws://localhost/chatLink");
        //给绑定事件,open,message,error,close

        //建立连接后：
        ws.onopen = function (){
            $("#userName").html("用户"+userName + "<span style='float:right;color:green'>在线</span>");
        }

        //接收到服务器推送的消息后触发
        ws.onmessage = function (evt){

        }

        ws.onclose = function (){

        }


    })
</script>
-->
</body>

</html>
