<!DOCTYPE html>

<!--汉江师范学院 数计学院 吴乐创建于2022/12/21 22:24:50-->

<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>

<body>
<script src="/static/js/jquery.js"></script>

<form id="loginForm">
    <label>账号:<input name="userId" id="userId" type="text"></label><br>
    <label>密码:<input name="password" id="password" type="password"></label><br>
    <input type="reset">
    <button id="btn">登录</button><br>
    <h3 id="err_msg"></h3>
</form>
<script>
    $(function ()
    {
        $("#btn").click(function ()
        {
            $.post("http://localhost/login",$("#loginForm").serialize(),function (res)
            {
                alert("123456");
                if(res.flag)
                {
                    alert(res.data.flag);
                    location.href = "main.html";
                }else
                {
                    $("#err_msg").html(res.data.message);
                }
            },"json");
        })
    })
</script>
</body>
</html>