<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>

    <script src="/static/js/jquery.js"></script>
    <script>
        var toName;
        var userName;

        function goChat(name){
            toName = name;
            //展示聊天对话框
            $("#chatArea").css("display","inline");
            //显示聊天对象
            $("#chatMes").html("<h3>正在和 "+toName+" 聊天</h3>");
        }

        $(function (){
            $.ajax({
                url:"http://localhost/getUserData/getUserNameById",
                success:function (res){
                    userName = res;
                    $("#userName").html("用户"+userName + "<span style='float:right;color:green'>在线</span>");
                },
                async:false
            })

            //创建websocket对象
            var ws = new WebSocket("ws://localhost/chatLink");
            //给绑定事件,open,message,error,close

            //建立连接后：
            ws.onopen = function (){
                $("#userName").html("用户"+userName + "<span style='float:right;color:green'>在线</span>");
            }

            //接收到服务器推送的消息后触发
            ws.onmessage = function (evt){
                //获取服务端推送过来的消息
                var dataStr = evt.data;
                //将dataStr转化为json对象
                var res = JSON.parse(dataStr);
                //判断是否是系统消息
                if(res.isSystem){
                    //系统消息处理
                    var names = res.message;
                    //1.好友列表展示
                    var UserListStr = "";
                    //2.好友上线提示
                    var UserOnlineStr = "";

                    for(var name of names)
                    {
                        UserListStr += "<li><a onClick='goChat(\""+name+"\")'>"+name+"</a></li>";
                        UserOnlineStr += "<li style=\"color: #9d9d9d\">用户 "+name+" 已经上线</li>";

                        //改变页面
                        $("#friendList").html(UserListStr);
                        $("#onlineList").html(UserOnlineStr);

                    }
                }else {
                    //不是系统消息
                }

            }

            ws.onclose = function (){
                //连接关闭后
                $("#userName").html("用户"+userName + "<span style='float:right;color:red'>离线</span>");

            }


        })
    </script>

</head>

<body>

<img src="#">

<div>
    <div>
        <div>
            <div id="userName">

            </div>
            <div id="chatMes">
                <!--正在和**聊天-->
            </div>
        </div>

        <!--聊天区代码开始-->
        <div>
            <div id="initBackGround" style="background-color: white;width:100%"></div>
            <div id="chatArea" style="display: none">
                <div id="showMes">
                    <div id="hists"><!--历史消息--></div>
                    <div id="msg">
                        <!--消息展示区域-->
                        <div>你好</div>
                        <div>头像</div>
                    </div>
                </div>

                <!--输入框-->
                <div>
                    <div>
                        <textarea id="context_text" wrap="hard" placeholder="输入消息"></textarea>
                        <div id="atcomPnl">
                            <ul id="atcom"></ul>
                        </div>
                    </div>

                    <div id="submit">发送</div>
                </div>

            </div>
        </div>
        <!--聊天区结束-->

        <div>
            <div></div>
            <div>
                <div>
                    <div id="list">好友列表</div>
                </div>
                <div>
                    <ul id="friendList">
                        <!--好友列表-->
                        <!--<li></li>-->
                    </ul>
                </div>
            </div>

            <div>
                <div>
                    <div>上线提示</div>
                </div>
                <div>
                    <ul id="onlineList">
                        <!--上线提示-->
                        <!--<li></li>-->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>
